:root {
    --skole-border: rgb(255 255 255 / .2);
    --skole-info-con: #2a5161;
}

.skole-bar {
    padding: .5rem 1rem;
    display: flex;
    background: linear-gradient(to bottom, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    color: #fff;
    border-bottom: 1px solid #506a73;
    line-height: 20px;

    svg {
        height: 16px;
    }
}

.skole-intra {
    display: flex;
    flex-flow: column;
    text-transform: uppercase;
    font-size: .8rem;
    flex-flow: row;
    padding: 0 .5rem;
    border-left: 1px solid var(--skole-border);
    border-right: 1px solid var(--skole-border);
    gap: 1rem;

    a {
        display: flex;
        align-items: center;
        color: inherit;

        span {
            display: none;
        }

        &:hover {
            color: #f2f2f2
        }
    }

    svg {
        margin-right: 1ch;
        fill: #ffffff;
    }
}

.skole-some {
    margin-left: auto;
    display: none;
}

.info-con {
    display: none;
    background: var(--skole-info-con);
    color: #fff;
    border-bottom: 1px solid var(--skole-border);
    overflow: hidden;

    label {
        opacity: .6;
        margin: 0;
    }

    input[type=text],
    input[type=submit] {
        height: 30px;
        border-color: var(--skole-border);
    }

    input[type=submit] {
        background: #2a4d5c;
        color: #fff;
        box-shadow: none;
        line-height: 12px;
    }

    input[type=text],
    input[type=text]:focus {
        background: #ffffff0f;
        color: #fff;
    }

    a {
        color: inherit;

        &:hover {
            color: #f2f2f2;
        }
    }
}

.slide-con {
    padding: .7rem 1rem;
    display: flex;
    gap: 1rem;
    flex-flow: column;
    font-size: .85rem;

    a {
        text-decoration: none;
    }
}
@media (min-width: 1025px) {
    .slide-con {
        flex-flow: row;
        align-items: center;
    }
}

.bar-icons {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    border-left: 1px solid var(--skole-border);
    border-right: 1px solid var(--skole-border);
    gap: 1rem;

    svg {
        cursor: pointer;
        fill: #ffffff;
    }

    .open {
        svg {
            animation: dance 1s infinite alternate;
        }
    }
}

.info-item {
    display: flex;
    align-items: center;
    gap: 1ch;
    line-height: 1;
    border-right: 1px solid var(--skole-border);
        padding-right: 1rem;
    &:last-of-type {
        border-right: none;
        padding-right: none;
    }
}

@media (min-width: 600px) {
    .skole-intra {

        a {

            span {
                display: inline;
            }
        }
    }

}

@media (min-width: 550px) {
    .skole-some {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 0 .5rem;
        border-right: 1px solid var(--skole-border);
        border-left: 1px solid var(--skole-border);
    }
}

.skole-filer {
    a {
        &:after {
            content: ',';
            display: inline-block;
            margin-right: 1ch;
        }

        &:last-of-type {
            &:after {
                display: none;
            }
        }
    }
}


@keyframes dance {
    0% {
        fill: #ffffff
    }



    100% {
        fill: #506a73;
    }
}

.skole-besked-con {
    h2 {
        margin-top: 0;
    }
}
